
#footer .footer-1 {
background-color: #efefef;
 margin-left: 5%;
 margin-right: 5%;
}

#footer .branch div ul li{
	list-style: none;
	line-height: 20px;
}
#footer .branch div{
	width: 33%;
	border-right:1px solid #9999;
	float: left;
background-color: #efefef;
	
}
#footer .branch div:last-child{
	border-right: none;
}
#footer .branch div ul{
	padding: 0px;
}
#footer .branch div:last-child{
	padding-left: 0px;
}




